.line1{
    font-size: 4rem;
    color:white;
    font-weight: bold;
    margin-bottom: 0rem;
}
.line2{
    font-size: 4rem;
    background-image:linear-gradient(to left,#e66465, #9198e5);
    background-clip:text;
    color:transparent;
    margin-top: 0rem;
    margin-bottom: 0.75rem;
    
    font-weight: bold;
}

.small_text{
    color:#E5E5E5;
    font-size: 1.5rem;
    margin-left:27.5%;
    margin-right:27.5%;
}

.Features{
    height: 4rem;
    font-size: 1.5rem;
    width:17rem;
    cursor:pointer;
    color: white;
    border-radius: 1.5rem;
    background-color: #302C3F;
}

